[![imagenes](imagenes/BannerCB.png)](https://cursoscomputacion2.wixsite.com/python)

## Objetos tipo _tuple_.

Los objetos tipo _tuple_ son una secuencia ordenada de objetos separados por comas y encerrados entre paréntesis "*( )*".

```
(<objeto_1>, <objeto_2>, ..., <objeto_n)
```

**Ejemplos:**

``` python
(1, 2, 3, 4, 5)
('gato', 'perro', True)
(['automóvil', 50, 'gasolina'], ['autobús', 300, 'diesel'])
()
```
Los objetos tipo _tuple_ están indexados del mismo modo que los objetos de tipo _list_.

### Los objetos tipo * tuple* son "inmutables".

Los elementos contenidos en un objetos de tipo *tuple* no pueden ser modificados con el operador de asignación (*=*) ni eliminados con la declaración *del*.

**Ejemplo:**

In [1]:
tupla = (1, 2, 3, 4, 5, 6, 7, 8)
type(tupla)

tuple

In [2]:
tupla[2]

3

In [3]:
tupla[4] = "hola"

TypeError: 'tuple' object does not support item assignment

In [4]:
del tupla[3]

TypeError: 'tuple' object doesn't support item deletion

### Los objetos de tipo _tuple_ pueden ser rebanados.

El rebanado no implica una modificación interna de un objeto de tipo *tuple*, sino la creación de un objeto nuevo y por lo tanto, este tipo de operaciones son permitidas. 

**Ejemplo:**

In [5]:
tupla = (1, 2, 3, 4, 5, 6)
tupla[2:4]

(3, 4)

### Los objetos de tipo _tuple_  y los operadores de adición "+" y multiplicación "*".

Los objetos tipo _tuple_ se comportan del mismo modo que los objetos tipo _list_ al utilizar los operadores de adición "+" y multiplicación "*".

**Ejemplo:**

In [6]:
tupla = (1, 2, 3, 4, 5, 6)

In [7]:
tupla * 2

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [8]:
2 * tupla

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [9]:
tupla + (7, 8, 9)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

### Métodos de los objetos de tipo _tuple_.

Los objetos tipo _tuple_ sólo cuentan con los métodos: 
* _count()_. 
* _index()_.

**Ejemplos:**

In [10]:
tupla = (1, 5, 7, 8, 4, 7, 7, 9)

In [11]:
tupla.index(9)

7

In [12]:
tupla.count(7)

3

In [13]:
tupla.clear()

AttributeError: 'tuple' object has no attribute 'clear'

## Transformaciones entre objetos tipo _list_ y tipo _tuple_.

Los objetos tipo _list_ y tipo _tuple_ pueden ser convertidos en objetos del otro tipo mediante las funciones _list()_ y _tuple()_.

**Ejemplos:**

In [14]:
tupla = (7, 8, 9)

In [15]:
lista = list(tupla)
lista

[7, 8, 9]

In [16]:
tuple(lista)

(7, 8, 9)

In [17]:
tupla == tuple(lista)

True

## "Aliasing". 

Al "rebanar" un objeto, se crea un nuevo objeto que hace referencia a los elementos existentes en el objeto original.

Esto significa que aún cuando el objeto resultante del "rebanado" es nuevo, los elementos que comparten el objeto original y el objeto "rebanado", son exactamente los mismos.

**Ejemplo: **

In [18]:
lista_1 = [12, True, "lapicero"]

In [19]:
id(lista_1)

2397263589256

In [20]:
lista_2 = lista_1[:]
id(lista_2)

2397263587336

In [21]:
print(id(lista_1[0]))
print(id(lista_1[1]))
print(id(lista_1[2]))

1445620832
1445130400
2397263606896

In [22]:
print(id(lista_2[0]))
print(id(lista_2[1]))
print(id(lista_2[2]))

1445620832
1445130400
2397263606896

Cuando se modifican los elementos del objeto de tipo _list_ mediante el operador (=) o la declaración _del_, el nuevo objeto de tipo _list_ no es afectado.

**Ejemplo:**

In [23]:
lista_1 = [1, 2, 3]

In [24]:
lista_2 = lista_1[:]

In [25]:
lista_1[1] = True

In [26]:
del lista_1[0]

In [27]:
lista_1

[True, 3]

In [28]:
lista_2

[1, 2, 3]

Sin embargo, cuando hay un elemento mutable dentro del objeto original y éste elemento modifica su contenido en cualquiera de los objetos (ya sea el original o los resultantes del proceso de "rebanado"), ésto repercutirá en todos y cada uno de los objetos, aún cuando el contenedor sea inmutable.

**Ejemplo:**

A partir de un objeto de tipo _list_ llamado lista_1 se creará un objeto de tipo _list_ llamado lista_2 y otro de tipo _tuple_, con nombre _tupla_, por medio de "rebanado".

In [40]:
lista_1 = [1, 2, ['b', 'c']]

In [41]:
lista_2 = lista_1[:]
lista_2

[1, 2, ['b', 'c']]

In [42]:
tupla = tuple(lista_1[:])
tupla

(1, 2, ['b', 'c'])

Como ya se mostró, modificar los elementos dentro de cada objeto no tiene consecuencias.

In [43]:
lista_1[0] = "Hola"

In [44]:
del lista_2[1]

In [45]:
lista_1

['Hola', 2, ['b', 'c']]

In [46]:
lista_2

[1, ['b', 'c']]

In [47]:
tupla

(1, 2, ['b', 'c'])

Sin embargo, al modificar el contenido de un elemento mutable que es compartido por todos los objetos; dicho cambio se aplicará de forma generalizada.
 
En este caso, se eliminará el primer elemento del objeto de tipo _list_ contenido en todos los objetos.

In [48]:
del lista_2[1][0]

In [49]:
lista_1

['Hola', 2, ['c']]

In [50]:
lista_2

[1, ['c']]

In [51]:
tupla

(1, 2, ['c'])

A esto se le conoce como "aliasing" y puede tener resultados inesperados si no se toman en cuenta sus efectos.

## Legibilidad al definir una colección de objetos.

Los objetos de tipo _list_, _tuple_, _dict_, etc., no toman en cuenta espacios, tabuladores o saltos de linea después de las comas, por lo que con fines de legibilidad se recomienda definir dichos objetos de la siguiente manera.

**Ejemplo:**

In [52]:
vehiculos = [['automóvil', 50, 'gasolina'],
             ['autobús', 300, 'diesel'], 
             ['helicóptero', 2000, 'turbodiesel'],
             ['velero', 0, 'N/A']]

In [53]:
vehiculos

[['automóvil', 50, 'gasolina'],
 ['autobús', 300, 'diesel'],
 ['helicóptero', 2000, 'turbodiesel'],
 ['velero', 0, 'N/A']]

## Funciones útiles con los objetos tipo _list_ y tipo _tuple_. 

### La función _len()_.

La función _len()_ devuelve el número de objetos contenidos en una colección de objetos mediante la siguiente sintaxis:

```
len(<objeto>)
```

**Ejemplos:**

In [54]:
len([1, 2, 3, 4, 5])

5

In [55]:
len(('gato', 'perro', True))

3

In [56]:
len([('automóvil', 50, 'gasolina'), ['autobús', 300, 'diesel']])

2

In [57]:
len([('automóvil', 50, 'gasolina'), ['autobús', 300, 'diesel']][1])

3

In [58]:
len([])

0

**Nota:** 
* len() también funciona en cadenas, diccionarios y otras estructuras de datos similares a las listas.
* Tenga en cuenta que len() es una función incorporada, no un método de un objeto de lista.
* También tenga en cuenta que el costo de len() es O(1) , lo que significa que tomará la misma cantidad de tiempo para obtener la longitud de una lista, independientemente de su longitud.

### La función _max()_.

La función _max()_ devuelve el elemento de mayor valor contenido en una colección, siempre y cuando dichos objetos sean compatibles, mediante la siguiente sintaxis:
  
```
max(<objeto>)
```

**Ejemplos:**

In [59]:
max([1, 2, 3, 4, 5])

5

In [60]:
max(('gato', 'perro', True))

TypeError: '>' not supported between instances of 'bool' and 'str'

In [61]:
max(('gato', 'perro', 'canario'))

'perro'

### La función _min()_.

La función _min()_ devuelve el elemento de menor valor contenido en una colección, siempre y cuando dichos objetos sean compatibles, mediante la siguiente sintaxis:
  
```
max(<objeto>)
```

**Ejemplos:**

In [62]:
min([1, 2, 3, 4, 5])

1

In [63]:
min(('gato', 'perro', True))

TypeError: '<' not supported between instances of 'bool' and 'str'

In [64]:
min(('gato', 'perro', 'canario'))

'canario'

### La función _sum()_.

La función _sum()_ devuelve la suma los elementos contenido en una colección, siempre y cuando dichos objetos sean compatibles, mediante la siguiente sintaxis:
  
```
sum(<objeto>)
```

**Ejemplos:**

In [65]:
sum([1, 2, 3, 4, 5])

15

In [66]:
sum(('gato', 'perro', True))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Comprobando si un elemento está en una lista.

Python hace que sea muy sencillo comprobar si un elemento está en una lista. Simplemente use
el operador in .
``` python
lst = ['test', 'twest', 'tweast', 'treast']
'test' in lst
# Out: True
'toast' in lst
# Out: False
```
**Nota:** el operador *in* en conjuntos es asintóticamente más rápido que en las listas. Si
necesita usarlo muchas veces en listas potencialmente grandes, puede convertir su
*list* en un *set* y probar la presencia de elementos en el *set*.
``` python
slst = set(lst)
'test' in slst
# Out: True
```

## Comprobando si la lista está vacía.

El vacío de una lista está asociado al booleano False , por lo que no tiene que marcar len(lst) ==
0 , sino solo lst o not lst
``` python
lst = []
if not lst:
    print("list is empty")
    # Output: list is empty
```

## Comparacion de listas.

Es posible comparar listas y otras secuencias lexicográficamente usando operadores de
comparación. Ambos operandos deben ser del mismo tipo.

``` python
[1, 10, 100] < [2, 10, 100]
# True, because 1 < 2
[1, 10, 100] < [1, 10, 100]
# False, because the lists are equal
[1, 10, 100] <= [1, 10, 100]
# True, because the lists are equal
[1, 10, 100] < [1, 10, 101]
# True, because 100 < 101
[1, 10, 100] < [0, 10, 100]
# False, because 0 < 1
```
Si una de las listas está contenida al comienzo de la otra, la lista más corta gana.
``` python
[1, 10] < [1, 10, 100]
# True
```

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; Alejandro Bolívar. 2020.</p>